@model StatusReports.ViewModels.StatusReportViewModel

@{
    ViewData["Title"] = "Create";
}

@*<h2 class="text-center">Add New Status Report</h2>*@

<form asp-action="Create" id="createForm">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    @*<hr />*@
 <div class="form-horizontal">
     <div class="row">
         <div class="form-group col-md-4">
             <label asp-for="StatusReport.PersonId" class="col-md-4 control-label"></label>
             <div class="col-md-8">
                 <select asp-for="StatusReport.PersonId" asp-items="@(new SelectList( Model.LookupData.People, "LookupId", "LookupValue", Model.StatusReport?.PersonId ))" class="form-control"></select>
             </div>
         </div>
         <div class="form-group col-md-4">
             <label asp-for="StatusReport.ProjectId" class="col-md-4 control-label"></label>
             <div class="col-md-8">
                 <select asp-for="StatusReport.ProjectId" asp-items="@(new SelectList( Model.LookupData.Projects, "LookupId", "LookupValue", Model.StatusReport?.ProjectId ))" class="form-control"></select>
             </div>
         </div>
         <div class="form-group col-md-4">
             <label asp-for="StatusReport.WeekId" class="col-md-4 control-label"></label>
             <div class="col-md-8">
                 <select asp-for="StatusReport.WeekId" asp-items="@(new SelectList( Model.LookupData.People, "LookupId", "LookupValue", Model.StatusReport?.WeekId ))" class="form-control"></select>
             </div>
         </div>
         
     </div>
        <div class="col-sm-12">
            <div class="list-group statusTable">
                <div class="col-sm-12 list-group-item active">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2 text-center"><strong>Hours</strong></div>
                    <div class="col-sm-8 text-center"><strong>Work Description</strong></div>
                </div>
                <div class="col-sm-12 list-group-item">
                    <label class="col-sm-2 control-label">
                        Saturday
                        <input type="hidden" name="StatusReport.IndividualStatusItems[0].Date" value="" />
                    </label>
                    <div class="col-sm-2 ">
                        <input type="number" name="StatusReport.IndividualStatusItems[0].Hours" class="text-center form-control" 
                               value="0" min="0" max="24" required />
                    </div>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="StatusReport.IndividualStatusItems[0].WorkDescription" placeholder="description"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 list-group-item">
                    <label class="col-sm-2 control-label">
                        Sunday
                        <input type="hidden" name="StatusReport.IndividualStatusItems[1].Date" value="" />
                    </label>
                    <div class="col-sm-2">
                        <input type="number" name="StatusReport.IndividualStatusItems[1].Hours" class="text-center form-control" min="0" max="24" value="0" required/>
                    </div>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="StatusReport.IndividualStatusItems[1].WorkDescription" placeholder="description"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 list-group-item">
                    <label class="col-sm-2 control-label">
                        Monday
                        <input type="hidden" name="StatusReport.IndividualStatusItems[2].Date" value="" />
                    </label>
                    <div class="col-sm-2">
                        <input type = "number" name="StatusReport.IndividualStatusItems[2].Hours" min="0" max="24" class="text-center form-control" value="0" required/>
                    </div>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="StatusReport.IndividualStatusItems[2].WorkDescription" placeholder="description"></textarea>
                    </div>

                </div>
                <div class="col-sm-12 list-group-item">
                    <label class="col-sm-2 control-label">
                        Tuesday
                        <input type="hidden" name="StatusReport.IndividualStatusItems[3].Date" value="" />
                    </label>
                    <div class="col-sm-2">
                        <input type = "number" name="StatusReport.IndividualStatusItems[3].Hours" class="text-center form-control" min="0" max="24" value="0" required/>
                    </div>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="StatusReport.IndividualStatusItems[3].WorkDescription" placeholder="description"></textarea>
                    </div>
                    
                </div>
                <div class="col-sm-12 list-group-item">
                    <label class="col-sm-2 control-label">
                        Wednesday
                        <input type="hidden" name="StatusReport.IndividualStatusItems[4].Date" value="" />
                    </label>
                    <div class="col-sm-2">
                        <input type = "number" name="StatusReport.IndividualStatusItems[4].Hours" class="text-center form-control" 
                               min="0" max="24" value="0" />
                    </div>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="StatusReport.IndividualStatusItems[4].WorkDescription" placeholder="description"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 list-group-item">
                    <label class="col-sm-2 control-label">
                        Thursday
                        <input type="hidden" name="StatusReport.IndividualStatusItems[5].Date" value="" />
                    </label>
                    <div class="col-sm-2">
                        <input type = "number" name="StatusReport.IndividualStatusItems[5].Hours" class="text-center form-control" value="0" required/>
                    </div>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="StatusReport.IndividualStatusItems[5].WorkDescription" placeholder="description"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 list-group-item">
                    <label class="col-sm-2 control-label">
                        Friday
                        <input type="hidden" name="StatusReport.IndividualStatusItems[6].Date" value="" />
                    </label>
                    <div class="col-sm-2">
                        <input type = "number" name="StatusReport.IndividualStatusItems[6].Hours" class="text-center form-control" value="0" />
                    </div>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="StatusReport.IndividualStatusItems[6].WorkDescription" placeholder="description"></textarea>
                        <input name="lostSon" type="hidden" value="hiddenTruth" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="row text-center">
                <input type="submit" value="Save As Draft" name="save" class="btn btn-primary" />
                <input type="submit" value="Submit To PM" name="completed" class="btn btn-danger"  />
            </div>
        </div>
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
