@model StatusReports.ViewModels.StatusReportViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="developerHome">
    <div class="text-right">
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#createModal">New Status Report</button>
    </div>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#outstandingDiv" aria-controls="home" role="tab" data-toggle="tab">Outstanding Reports</a>
            </li>
            <li role="presentation">
                <a href="#completedDiv" aria-controls="profile" role="tab" data-toggle="tab">Completed Reports</a>
            </li>
            <li role="presentation">
                <a href="#approvedReports" aria-controls="messages" role="tab" data-toggle="tab">Approved Reports</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="outstandingDiv">
                <h3 class="text-center"> Outstanding Status Reports</h3>
                @await Component.InvokeAsync("StatusReports", StatusCode.Draft)
            </div>
            <div role="tabpanel" class="tab-pane" id="completedDiv">
                <h3 class="text-center"> Completed Status Reports</h3>
                @await Component.InvokeAsync("StatusReports", StatusCode.Submitted)
            </div>
            <div role="tabpanel" class="tab-pane" id="approvedReports">
                <h3 class="text-center"> Approved Status Reports</h3>
                @await Component.InvokeAsync("StatusReports", StatusCode.Approved)
            </div>
        </div>

    </div>

    <!-- Create New Status Report modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="createModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center" id="myModalLabel">Add New Status Report</h3>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("Create", Model )
                </div>
            </div>
        </div>
    </div>


</div>
