@model StatusReports.ViewModels.StatusReportViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="developerHome">
    <div class="text-right">
        <a class="btn btn-primary"   href="@Url.Action("Create","StatusReport" )">New Status Report</a>
    </div>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#outstandingDiv" aria-controls="home" role="tab" data-toggle="tab">Outstanding Reports</a>
            </li>
            <li role="presentation">
                <a href="#completedDiv" aria-controls="profile" role="tab" data-toggle="tab">Completed Reports</a>
            </li>
            <li role="presentation">
                <a href="#approvedReports" aria-controls="messages" role="tab" data-toggle="tab">Approved Reports</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="outstandingDiv">
                <h3 class="text-center"> Outstanding Status Reports</h3>
                @await Component.InvokeAsync("StatusReports", StatusCode.Draft)
            </div>
            <div role="tabpanel" class="tab-pane" id="completedDiv">
                <h3 class="text-center"> Completed Status Reports</h3>
                @await Component.InvokeAsync("StatusReports", StatusCode.Submitted)
            </div>
            <div role="tabpanel" class="tab-pane" id="approvedReports">
                <h3 class="text-center"> Approved Status Reports</h3>
                @await Component.InvokeAsync("StatusReports", StatusCode.Approved)
            </div>
        </div>

    </div>
</div>
