@{
    ViewData["Title"] = "Home Page";
}

<a class="" href="@Url.Action("Index","IndividualStatus", new { id=5 } )" role="button">
    <h2>Individual Status</h2>
    <p>Enter your individual developer status report.</p>
</a>