body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/*
    individual report index
*/
.thinBorder{
    border: 1px solid black;
    border-radius: 5px;
}
.developerHome{
    padding-top: 1em;
}
.statusTitle{
    margin-top: 1em;
    background-color: white;
    color: white;
    border-right: 1px solid black;
}
.statusTitle:last-of-type{
    border-right:none;
}

a{
    color:black;
}
a:link{
    color: black;
}
a:hover{
    text-decoration:none;
}

.statusReport:hover{
    background-color:blue;
}
