@model IEnumerable<StatusReports.Models.IndividualStatusReport>

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a href="@Url.Action("Edit","StatusReport", new { id=item.Id})" style="color:white; cursor:pointer">@($"{item.Project.Client.Name} - {item.Project.Name}")</a>
        </div>
        <div class="panel-body">
            <p>Week Ending Date: @item.Week.EndingDate.ToString("MM/dd/yyyy")</p>
            <p>Total Hours: @item.IndividualStatusItems?.Sum(c => c.Hours).ToString("#.##")</p>
        </div>
    </div>
}
